@page "/admin/homework/update/{CourseId:int}/{LessonId:int}/{Id:int}"
@inject NavigationManager _navigation

<EditForm Model="Model" OnSubmit="() => Submit()">
    <div class="form-control">
        <label>Title</label>
        <input type="text" class="form-control" @bind-value="Model!.Title" />
    </div>
    <div class="form-control">
        <label>Description</label>
        <input type="text" class="form-control" @bind-value="Model!.Description" />
    </div>
    <div class="form-control">
        <label>Deadline</label>
        <input type="text" class="form-control" @bind-value="Model!.Deadline" />
    </div>
    <br />
    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int LessonId { get; set; }

    [Inject]
    public IHomeworkRepository? _homeworkRepository { get; set; }

    public HomeworkDto? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _homeworkRepository.GetHomeworkById(CourseId, LessonId, Id);
    }

    async Task Submit()
    {
        await _homeworkRepository.Update(Model);

        _navigation.NavigateTo($"/admin/homework/{CourseId}/{LessonId}");
    }
}
