@page "/admin/part-video/create/{CourseId:int}/{AboutId:int}"
@inject IPartVideoRepository _partVideoRepository
@inject NavigationManager _navigation

@if(Model != null)
{
    <EditForm Model="Model" OnSubmit="() => Submit()">
        <div class="form-control">
            <label>URL</label>
            <input type="text" class="form-control" @bind-value="Model!.Url" />
        </div>
        <br />
        <button type="submit">Submit</button>
    </EditForm>
} else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int AboutId { get; set; }

    protected override void OnInitialized() => Model ??= new();

    async Task Submit()
    {
        await _partVideoRepository.Create(CourseId, AboutId, Model);

        _navigation.NavigateTo($"/admin/part-video/{CourseId}/{AboutId}");
    }

    public PartVideoDto? Model { get; set; }
}
