@page "/admin/part-video/details/{CourseId:int}/{AboutId:int}/{Id:int}"

<table class="table">
    <tr>
        <td>URL</td>
        <td>@Model.Url</td>
    </tr>
</table>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int AboutId { get; set; }

    [Inject]
    public IPartVideoRepository? _partVideoRepository { get; set; }

    public PartVideoDto? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _partVideoRepository.GetPartVideoById(CourseId, AboutId, Id);
    }
}
