@page "/admin/part-video/update/{CourseId:int}/{AboutId:int}/{Id:int}"
@inject NavigationManager _navigation

<EditForm Model="Model" OnSubmit="() => Submit()">
    <div class="form-control">
        <label>URL</label>
        <input type="text" class="form-control" @bind-value="Model!.Url" />
    </div>
    <br />
    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int AboutId { get; set; }

    [Inject]
    public IPartVideoRepository? _partVideoRepository { get; set; }

    public PartVideoDto? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _partVideoRepository.GetPartVideoById(CourseId, AboutId, Id);
    }

    async Task Submit()
    {
        await _partVideoRepository.Update(Model);

        _navigation.NavigateTo($"/admin/part-video/{CourseId}/{AboutId}");
    }
}
