@page "/admin/course/create"
@inject ICourseRepository _courseRepository
@inject NavigationManager _navigation
@using System.IO
@using System.Drawing;

@if(Model != null)
{
    <EditForm Model="Model" OnSubmit="() => Submit()">
        <div class="form-control">
            <label>Name</label>
            <input type="text" class="form-control" @bind-value="Model!.Name" />
        </div>
        <div class="form-control">
            <label>Description</label>
            <input type="text" class="form-control" @bind-value="Model!.Description" />
        </div>
        <div class="form-control">
            <label>Image URL</label>
            <InputFile OnChange="@UploadImage" />
        </div>
        <div class="form-control">
            <label>Price</label>
            <input type="text" class="form-control" @bind-value="Model!.Price" />
        </div>
        <br />
        <button type="submit">Submit</button>
    </EditForm>
} else
{
    <p>Loading...</p>
}

@code {
    protected override void OnInitialized() => Model ??= new();

    async Task Submit()
    {
        await _courseRepository.Create(Model);

        _navigation.NavigateTo("/admin/course");
    }

    public CourseDto? Model { get; set; }

    async void UploadImage(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var ms = new MemoryStream();
        await file.OpenReadStream(long.MaxValue).CopyToAsync(ms);
        byte[] bytes = ms.ToArray();
        var base64 = Convert.ToBase64String(bytes);
        Model.Img = $"data:{file.ContentType};base64,{base64}";

    }
}
