@page "/admin/course/details/{Id:int}"

<table class="table">
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Image URL</td>
        <td>@Model.Img</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.Price</td>
    </tr>
</table>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    public ICourseRepository? _courseRepository { get; set; }

    public CourseDto? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _courseRepository.GetCourseById(Id);
    }
}
