@page "/admin/video/create/{CourseId:int}/{LessonId:int}"
@inject IVideoRepository _videoRepository
@inject NavigationManager _navigation

@if(Model != null)
{
    <EditForm Model="Model" OnSubmit="() => Submit()">
        <div class="form-control">
            <label>Title</label>
            <input type="text" class="form-control" @bind-value="Model!.Title" />
        </div>
        <div class="form-control">
            <label>Url</label>
            <input type="text" class="form-control" @bind-value="Model!.Url" />
        </div>
        <br />
        <button type="submit">Submit</button>
    </EditForm>
} else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int LessonId { get; set; }

    protected override void OnInitialized() => Model ??= new();

    async Task Submit()
    {
        await _videoRepository.Create(CourseId, LessonId, Model);

        _navigation.NavigateTo($"/admin/video/{CourseId}/{LessonId}");
    }

    public VideoDto? Model { get; set; }
}
