@page "/contacts"

<div style="padding: 0 150px;">
    <div style="padding: 60px 0;">
        <p style="text-align: center; font-size: 24px; font-weight: 400;">Оставьте заявку, мы свяжемся и дадим подробное информацие о наших курсах</p>
        <div style="display: flex; flex-direction: row; justify-content: space-between; gap: 10px;">
            <div>
                <img src="./img/contacts/map.png" width="200" height="200"/>
            </div>
            <div>
                <p><img src="./icons/contacts/phone.png" />+998 98 369 90 69</p>
                <p><img src="./icons/contacts/email.png" />info@uranusinvest.com</p>
                <p><img src="./icons/contacts/location.png" />location</p>
                <br />
                <img src="./icons/contacts/facebook.png" />
                <img src="./icons/contacts/instagram.png" />
                <img src="./icons/contacts/telegram.png" />
            </div>
            <div>
                <input placeholder="Ваше мия" /><br />
                <input placeholder="Ваш номер телефона" /><br />
                <input placeholder="Когда вам звонить" /><br />
                <button>Заказать бесплатный звонок</button><br />
                <p>Отправляя заявку, вы соглашаетесь на обработку ваших данных</p>
            </div>
        </div>
    </div>
</div>

@code {

}
