@page "/"

<PageTitle>Home</PageTitle>
<div id="main-page-container">
    <div id="top">
        <h1 id="top-header">Хотите научиться профессионально<br />инвестировать и всегда оставаться в плюсе?</h1>
        <p id="top-text">Грамотно разберем вашу финансовую ситуацию, разработаем стратегию и поможем эффективно инвестировать</p>
        <div style="text-align: center;">
            <button id="top-btn">Записаться на курс</button>
        </div>
    </div>
    <div>
        
    </div>
</div>

<style>
    #main-page-container #top {
        background: url(./img/main-page/top-img.png) no-repeat;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #main-page-container #top #top-header {
        color: white;
        font-size: 52px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }

    #main-page-container #top #top-text {
        text-align: center;
        color: #CBCBCB;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    #main-page-container #top #top-btn {
        border: none;
        background-color: #35A4D9;
        border-radius: 10px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 40px;
    }
</style>