@page "/admin/faq/update/{CourseId:int}/{AboutId:int}/{Id:int}"
@inject NavigationManager _navigation

<EditForm Model="Model" OnSubmit="() => Submit()">
    <div class="form-control">
        <label>Question</label>
        <input type="text" class="form-control" @bind-value="Model!.Question" />
    </div>
    <div class="form-control">
        <label>Answer</label>
        <input type="text" class="form-control" @bind-value="Model!.Answer" />
    </div>
    <br />
    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int AboutId { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Inject]
    public IFAQRepository? _faqRepository { get; set; }

    public FAQDto? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _faqRepository.GetFAQById(CourseId, AboutId, Id);
    }

    async Task Submit()
    {
        await _faqRepository.Update(Model);

        _navigation.NavigateTo($"/admin/faq/{CourseId}/{AboutId}");
    }
}
