@page "/course/about/{CourseId:int}/{Id:int}"

<div style="background: url('./img/course/about/header-img.png') no-repeat; height: max-content">
    <p></p>
    <p></p>
</div>
<div style="padding: 60px 150px;">
    <p></p>
    <br />
    <p>Reviews</p>

</div>

@code {

}
