@page "/admin/lesson/{CourseId:int}"
@inject NavigationManager navigation
<PageTitle>Lessons</PageTitle>

@if(Lessons != null)
{
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Docs</th>
            <th>Videos</th>
            <th>Homeworks</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Lessons)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td><button @onclick="() => HandleDocsClick(item.Id)">Docs</button></td>
                <td><button @onclick="() => HandleVideosClick(item.Id)">Videos</button></td>
                <td><button @onclick="() => HandleHomeworksClick(item.Id)">Homeworks</button></td>
                <td><button @onclick="() => HandleDetailsClick(item.Id)">Details</button></td>
                <td><button @onclick="() => HandleEditClick(item.Id)">Edit</button></td>
                <td><button @onclick="() => HandleDeleteClick(item.Id)">Delete</button></td>
            </tr>
        }
    </table>
} else
{
    <p>Sorry, no data in database yet</p>
}

<button @onclick="() => HandleCreateClick()">Create Lesson</button>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Inject]
    public ILessonRepository LessonRepository { get; set; }
    public ICollection<LessonDto> Lessons { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Lessons = await LessonRepository.GetAllLessons(CourseId);
    }

    void HandleDocsClick(int? id)
    {
        navigation.NavigateTo($"/admin/doc/{CourseId}/{id}");
    }

    void HandleVideosClick(int? id)
    {
        navigation.NavigateTo($"/admin/video/{CourseId}/{id}");
    }

    void HandleHomeworksClick(int? id)
    {
        navigation.NavigateTo($"/admin/homework/{CourseId}/{id}");
    }

    void HandleDetailsClick(int? id)
    {
        navigation.NavigateTo($"/admin/lesson/details/{CourseId}/{id}");
    }

    void HandleEditClick(int? id)
    {
        navigation.NavigateTo($"/admin/lesson/edit/{CourseId}/{id}");
    }

    void HandleDeleteClick(int? id)
    {
        navigation.NavigateTo($"/admin/lesson/delete/{CourseId}/{id}");
    }

    void HandleCreateClick()
    {
        navigation.NavigateTo($"/admin/lesson/create/{CourseId}");
    }
}