@page "/admin/lesson/update/{CourseId:int}/{Id:int}"
@inject NavigationManager _navigation

<EditForm Model="Model" OnSubmit="() => Submit()">
    <div class="form-control">
        <label>Title</label>
        <input type="text" class="form-control" @bind-value="Model!.Title" />
    </div>
    <div class="form-control">
        <label>Content</label>
        <input type="text" class="form-control" @bind-value="Model!.Content" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public int CourseId { get; set; }

    [Inject]
    public ILessonRepository? _lessonRepository { get; set; }

    public LessonDto? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _lessonRepository.GetLessonById(CourseId, Id);
    }

    async Task Submit()
    {
        await _lessonRepository.Update(Model);

        _navigation.NavigateTo("/admin/course");
    }
}
