@page "/admin/doc/details/{CourseId:int}/{LessonId:int}/{Id:int}"

<table class="table">
    <tr>
        <td>Title</td>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td>Url</td>
        <td>@Model.Url</td>
    </tr>
</table>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int LessonId { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Inject]
    public IDocRepository? _docRepository { get; set; }

    public DocDto? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _docRepository.GetDocById(CourseId, LessonId, Id);
    }
}
