<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; background-color: gray; height: 200px;">
    <img src="./img/footer-logo.png" />
    <nav style="list-style-type: none;">
        <li style="display: inline; color: white;">Home</li>
        <li style="display: inline; color: white;">Users</li>
        <li style="display: inline; color: white;">Courses</li>
    </nav>
</div>

@code {

}