<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
    <img src="./img/main-logo.png" />
    <nav style="list-style-type: none;">
        <li style="display: inline">Home</li>
        <li style="display: inline">Users</li>
        <li style="display: inline">Courses</li>
    </nav>
    <nav style="list-style-type: none;">
        <li style="display: inline">Login</li>
        <li style="display: inline">Register</li>
    </nav>
</div>

@code {
    
}
