<div id="footer-container">
    <div class="row-flex">
        <div>
            <img class="marb-15" src="./img/footer-logo.png" /><br />
            <img class="mr-5" src="./icons/f-facebook.png" />
            <img class="mr-5" src="./icons/f-instagram.png" />
            <img src="./icons/f-telegram.png" />
        </div>
        <div>
            <ul>
                <li class="color-2">ИНФОРМАЦИЯ</li>
                <li class="color-1">Все курсы</li>
                <li class="color-1">Мои курсы</li>
                <li class="color-1">Домашние задания</li>
                <li class="color-1">Результаты учеников</li>
                <li class="color-1">О компании</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="color-2">КОНТАКТЫ</li>
                <li class="color-1">+998 98 369 90 69</li>
                <li class="color-1">info@uranusinvest.com</li>
                <li class="color-1">location</li>
            </ul>
        </div>
        <div></div>
    </div>   
</div>

@code {

}

<style scoped>
#footer-container {
    display: block;
    padding: 50px 150px;
    background-color: #111111;
    height: max-content;
    width: 100vw;
}

#footer-container .row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mr-5 {
    margin-right: 5px;
}

.marb-15 {
    margin-bottom: 15px;
}

#footer-container ul {
    list-style-type: none;
}

    #footer-container .color-1 {
    color: #949393;
}

    #footer-container .color-2 {
        color: white;
    }
</style>