@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div>
    @if(!navigationManager.Uri.Contains("admin")) {
        <Header />
    } else
    {
        <AdminHeader />
    }

        <div>
            @Body
        </div>

    @if(!navigationManager.Uri.Contains("admin"))
    {
        <Footer />
    } else
    {
        <AdminFooter />
    }
</div>
